body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4 
}

/* Global */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

.button_1 {
    height: 38px;
    background: #420a63;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}

.dark {
    padding: 15px;
    background: #35424a;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Header **/
header {
    background: #aea4c5;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #420a63 5px solid;
}

header h1 {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, sans-serif;
    font-size: 32px;
    text-rendering: optimizeLegibility;
    letter-spacing: .1em;
    text-shadow: 
      4px 4px 0px rgba(0, 0, 0, 0.2);
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a {
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
}

header a:hover {
    color: #420a63;
    font-weight: bold;
}